@font-face {
  font-family: "iconfont"; /* Project id 3909122 */
  src: url('iconfont.eot?t=1677031443925'); /* IE9 */
  src: url('iconfont.eot?t=1677031443925#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1677031443925') format('woff2'),
       url('iconfont.woff?t=1677031443925') format('woff'),
       url('iconfont.ttf?t=1677031443925') format('truetype'),
       url('iconfont.svg?t=1677031443925#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e66a";
}

.icon-wxtb:before {
  content: "\e65b";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-github:before {
  content: "\e66f";
}

